body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}	
#box1{
	background-color: green;
	border: 0.5px solid black;
	height: 1000px;
}

#box2{
	background-color: green;
	border: 0.5px solid black;
	height: 400px;
}

#box3{
	background-color: green;
	border: 0.5px solid black;
	height: 575px;
}

#box4{
	background-color: yellow;
	border: 0.5px solid black;
	height: 148px;
}

.placeBetNumber{
	font-family: arial;
	text-align:center;
	color: yellow;
	font-size: 60px;
}
	
.betAmt{
	color: yellow;
	font-size: 30px;	
}
	
.placebet{
	font-size: 24px;
	color: blue;
	text-align: center;
}

#area{
	height:500px;
}

.pass_lines{
	border-top:1px solid yellow;
	border-bottom:1px solid yellow;
	text-align: center;
	width: 200px;
	height: 50px;
}

#onNumberArea{
	text-align:center;
	height: 175px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	
}
#onNumber{
	text-align: center;
	font-size: 80px;
}
#walletBox{
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	font-size: 25px;
}
#betAmtBox{
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	font-size: 25px;
}
#opBox{
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	font-size: 25px;
}
#PnM{
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	font-size: 25px;
}
span{
	font-size: 25px;
}
.onButArea {
	height:42px;
	text-align:center;
}
#come{
	text-align: center;
	color: red;
	font-size: 75px;
	font-family:Constantia;
}
#field{
	text-align: center;
	font-size: 75px;
	font-family:Constantia;
}
#D1, #D2 {
	text-align:center;
	height : 100px;
}
.moneyBut{
	border-radius: 25px;
	width: 50px;
	height: 50px;
}
#coin1{
	background-color: silver;
}
#coin5{
	background-color: #ff4d4d;
}
#coin25{
	background-color: #66ff66;
}
#coin100{
	background-color: #666666;
}
#coin500{
	background-color: #b300b3;
}
#coin1000{
	background-color: #ffd700;
}
#coin1:hover{
	background-color: #a6a6a6;
	border: 3px solid #e6e6e6;
}
#coin5:hover{
	background-color: #ff1a1a;
	border: 3px solid #ff9999;
}
#coin25:hover{
	background-color: #33ff33;
	border: 3px solid #b3ffb3;
}
#coin100:hover{
	background-color: #4d4d4d;
	border: 3px solid #8c8c8c;
}
#coin500:hover{
	background-color: #800080;
	border: 3px solid #ff00ff;
}
#coin1000:hover{
	background-color: #ccad00;
	border: 3px solid #ffe44d;
}

.roll {
	width: 120px;
}
#discription{
	margin-top: 10px;
	height: 500px;
	border: 3px solid black;
	border-radius: 8px;
	background-color: white;
	text-align: center;
	font-size: 20px;
}
.add_subt{
	margin-top:5px;
	width: 40px;
	height: 40px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: silver;
}
.add_subt:hover{
	background-color: gray;
}
#userControlDiv{
	margin: 20px;
}